<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>${self.title()} - 布丁博客</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta name="author" content="pudding" />
    <link rel="stylesheet" type="text/css" href="/home/teddy/projects/puddingblog/static/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/home/teddy/projects/puddingblog/static/styles/reset.css" />
    <script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><a href="/">布丁博客</a></h1>
        <p class="description">About 小布丁</p>
      </div>

      <div id="main">
        <div id="sideBar">
          <div id="tags">
            <p>标签</p>
            <div class="modBody">
              <ul>
                <li><a href="#1">Linux <span class="count">[3]</span></a></li>
                <li><a href="#2">Webpy[12]</a></li>
                <li><a href="#3">Python[1]</a></li>
              </ul>
            </div>
          </div>
          <div id="category">
            <p>类别</p>
            <div class="modBody">
              <ul>
                <li><a href="#1">生活<span class="count">[2]</span></a></li>
                <li><a href="#2">Google</a></li>
                <li><a href="#3">World</a></li>
                <li><a href="#4">Proggit</a></li>
              </ul>
            </div>
          </div>
          <div id="links">
            <p>链接</p>
            <div class="modBody">
              <ul>
                <li><a href="#1">BaiDu</a></li>
                <li><a href="#2">Google</a></li>
                <li><a href="#3">World</a></li>
                <li><a href="#4">Proggit</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div id="content">
          <div class="blogList">
            <div class="blog">
              <div class="blogHeader">
                <h2><a href="##">Zencoding.vim 教程</a><span class="category">-[ <a href="#">网摘</a>]</span></h2><h3>6/5/2012</h3>
              </div>
              <div class="blogBody">
                <p>最近在“设计”一个简单的网页界面的时候，发现我应该在Photoshop上先修改好页面的字体，配色等，然后在写相应的HTML及CSS代码；而不是在Photoshop上画出了页面的布局之后，就开始写HTML和CSS。后者虽然能把页面整体的效果做出来，但是...</p>
              </div>
              <div class="blogFooter">
                <div class="tags">Tag: 字体</div>
                <div class="blogInfo">
                  <span class="author">布丁</span>
                  发表于<span class="time">22:33:00</span>
                  |
                  <a href="#" class="readmore">阅读全文</a>
                  |
                  <a href="#" class="cmt">评论<span class="count">0</span></a>
                  |
                  <a href="#" class="edit">编辑</a>
                </div>
              </div>
            </div>
            <div class="blog">
              <div class="blogHeader">
                <h2><a href="##">Zencoding.vim 教程</a><span class="category">-[ <a href="#">网摘</a>]</span></h2><h3>6/5/2012</h3>
              </div>
              <div class="blogBody">
                <p>最近在“设计”一个简单的网页界面的时候，发现我应该在Photoshop上先修改好页面的字体，配色等，然后在写相应的HTML及CSS代码；而不是在Photoshop上画出了页面的布局之后，就开始写HTML和CSS。后者虽然能把页面整体的效果做出来，但是...</p>
              </div>
              <div class="blogFooter">
                <div class="tags">Tag: 字体</div>
                <div class="blogInfo">
                  <span class="author">布丁</span>
                  发表于<span class="time">22:33:00</span>
                  |
                  <a href="#" class="readmore">阅读全文</a>
                  |
                  <a href="#" class="cmt">评论<span class="count">0</span></a>
                  |
                  <a href="#" class="edit">编辑</a>
                </div>
              </div>
            </div>
            <div class="blog">
              <div class="blogHeader">
                <h2><a href="##">Zencoding.vim 教程</a><span class="category">-[ <a href="#">网摘</a>]</span></h2><h3>6/5/2012</h3>
              </div>
              <div class="blogBody">
                <p>最近在“设计”一个简单的网页界面的时候，发现我应该在Photoshop上先修改好页面的字体，配色等，然后在写相应的HTML及CSS代码；而不是在Photoshop上画出了页面的布局之后，就开始写HTML和CSS。后者虽然能把页面整体的效果做出来，但是...</p>
              </div>
              <div class="blogFooter">
                <div class="tags">Tag: 字体</div>
                <div class="blogInfo">
                  <span class="author">布丁</span>
                  发表于<span class="time">22:33:00</span>
                  |
                  <a href="#" class="readmore">阅读全文</a>
                  |
                  <a href="#" class="cmt">评论<span class="count">0</span></a>
                  |
                  <a href="#" class="edit">编辑</a>
                </div>
              </div>
            </div>
            <div class="blog">
              <div class="blogHeader">
                <h2><a href="##">Zencoding.vim 教程</a><span class="category">-[ <a href="#">网摘</a>]</span></h2><h3>6/5/2012</h3>
              </div>
              <div class="blogBody">
                <p>最近在“设计”一个简单的网页界面的时候，发现我应该在Photoshop上先修改好页面的字体，配色等，然后在写相应的HTML及CSS代码；而不是在Photoshop上画出了页面的布局之后，就开始写HTML和CSS。后者虽然能把页面整体的效果做出来，但是...</p>
              </div>
              <div class="blogFooter">
                <div class="tags">Tag: 字体</div>
                <div class="blogInfo">
                  <span class="author">布丁</span>
                  发表于<span class="time">22:33:00</span>
                  |
                  <a href="#" class="readmore">阅读全文</a>
                  |
                  <a href="#" class="cmt">评论<span class="count">0</span></a>
                  |
                  <a href="#" class="edit">编辑</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div id="footer">
        <div class="copyright">
          <p>如需转贴, 请注明出处. @转自<a href="#">&lt;布丁博客:#&gt;</a> | Powered by <a href="http://webpy.org/" target="_blank">web.py</a></p>
          <p>版权所有©2009 pudding</p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
