<%inherit file="base.html" />

<%def name="title()">类别 ${ slug }</%def>

<div id="content">
    <div class="blogList">
        % if entries:
        % for entry in entries:
        <div class="blog">
            <div class="blogHeader">
                <h2>
                    <a href="/entry/${entry.entry_slug}/">${entry.entry_title}</a>
                    <span class="category"> - [ <a href="/category/${entry.entry_category}/">${entry.entry_category}</a>]</span>
                </h2>
            </div>
            <div class="blogFooter">
                <div class="blogInfo">
                    <span class="author">布丁</span>
                    发表于<span class="time">${entry.entry_created_time}</span>
                    |
                    <a href="/entries/${entry.entry_slug}/" class="readmore">阅读全文</a>
                    |
                    <a href="#" class="cmt">评论<span class="count">${entry.comment_num}</span></a>
                    |
                    <a href="#" class="edit">编辑</a>
                </div>
            </div>
        </div>
        % endfor
        % else:
            <p>该类别下还没有文章</p>
        % endif
    </div>
</div>

