
<div class="blogList">
    <div class="blog">
        <div class="blogHeader">
            <h2><a href="##">Zencoding.vim 教程</a><span class="category">-[ <a href="#">网摘</a>]</span></h2><h3>6/5/2012</h3>
        </div>
        <div class="blogBody">
            <p>最近在“设计”一个简单的网页界面的时候，发现我应该在Photoshop上先修改好页面的字体，配色等，然后在写相应的HTML及CSS代码；而不是在Photoshop上画出了页面的布局之后，就开始写HTML和CSS。后者虽然能把页面整体的效果做出来，但是...</p>
        </div>
        <div class="blogFooter">
            <div class="tags">Tag: 字体</div>
            <div class="blogInfo">
                <span class="author">布丁</span>
                发表于<span class="time">22:33:00</span>
                |
                <a href="#" class="readmore">阅读全文</a>
                |
                <a href="#" class="cmt">评论<span class="count">0</span></a>
                |
                <a href="#" class="edit">编辑</a>
            </div>
        </div>
    </div>
</div>
