<%inherit file="base.html" />

<%def name="title()">首页</%def>

<div id="content">
    <div class="blogList">
        % if entries:
        % for entry in entries:
        <div class="blog">
            <div class="blogHeader">
                <h2>
                    <a href="/entry/${entry.entry_slug}/">${entry.entry_title}</a>
                    <span class="category"> - [ <a href="#">${entry.entry_category}</a>]</span>
                </h2>
                <!--<h3>
                    ${entry.entry_created_time}
                </h3>-->
            </div>
            <div class="blogBody">
                ${entry.entry_content}
            </div>
            <div class="blogFooter">
                <div class="tags">
                    Tag: 
                    % if entry.tags:
                    % for tag in entry.tags:
                        <a href="/tag/${tag.name}/"><span>${ tag.name}</span></a> 
                    % endfor
                    % else:
                    没有标签
                    % endif
                </div>
                <div class="blogInfo">
                    <span class="author">布丁</span>
                    发表于<span class="time">${entry.entry_created_time}</span>
                    |
                    <a href="/entries/${entry.entry_slug}/" class="readmore">阅读全文</a>
                    |
                    <a href="#" class="cmt">评论<span class="count">${entry.comment_num}</span></a>
                    |
                    <a href="#" class="edit">编辑</a>
                </div>
            </div>
        </div>
        % endfor
        % endif
    </div>
</div>
<%include file="_sideBar.html" />
