<%inherit file="base.html" />
<%def name="title()">日志列表</%def>

<p><a href="/admin/entry/add/">添加日志</a></p>
<table border="1" cellpadding="5">
    <tr>
        <th>序号</th>
        <th>标题</th>
        <th>查看数</th>
        <th>评论数</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>操作</th>
    </tr>
    % if entries:
    % for i, entry in enumerate(entries):
    <tr>
        <td>${ i }</td>
        <td>${ entry.title }</td>
        <td>${ entry.viewNum }</td>
        <td>${ entry.commentNum }</td>
        <td>${ entry.createdTime.strftime("%Y-%m-%d %H:%M:%S") }</td>
        <td>${ entry.modifiedTime.strftime("%Y-%m-%d %H:%M:%S") }</td>
        <td>
            <a href="/admin/entry/edit/${ entry.id }/">编辑</a>
            <a href="/admin/entry/del/${ entry.id }/">删除</a>
        </td>
    </tr>
    % endfor
    % endif
</table>

